<h1 class="center">Greetings from madni community app</h1>
<p>Dear Admin,</p>
<h1>Group created as: </h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Group Name</th>
    <th scope="col">Group Title</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @user.username %></td>
    <td><%= @user.email %></td>
    <td><%= @group.title %></td>
    <td><%= @group.group_type %></td>
  </tr>

  </tbody>
</table>