<%= form_for([current_user, @post.group, @post, content], remote: true) do | form | %>

  <%= form.label :text, "Text:" %>
  <%= form.text_area :content, id: "text_value" %>
  <div class="actions">
    <%= button_to 'submit', "", class: 'btn btn-danger ms-5' ,onclick:"ajax_call();" %>
  </div>
<% end %>
